.container
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    background-color: #d1d6da;
    flex-wrap: wrap;
}

.item
{
    display: flex;
    height: 180px;
    width: 150px;
    margin: 15px;
    background-color: #ffffff;
    font-size: 90px;
    line-height: 180px;
    justify-content: center;
    border-radius: 10%;
    flex-grow: 1;
    border: 1px solid transparent;
    box-shadow: 1px 1px 5px #888888;
}
#upArrow
{
    background-color: #abb3be;
    margin-right: 170px;
    flex-grow: 2;
    color: white;
}

#leftArrow
{
    background-color: #abb3be;
    margin-left: 170px;
    flex-grow: 2;
    color: white;
}
#spaceKey
{
    flex-grow: 4;
}
#btn123
{
    background-color: #abb3be;
    flex-grow: 2;
}
#leftKey
{
    background-color: #abb3be;
    flex-grow: 4;
}


